*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/release/
app/debug/
keystore.properties
*.jks
*.keystore
/app/build
/server/data
/server/bin
/server/.env
